*{
    margin:0%;
    padding: 0%;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    .navbar{
        display: flex; 
        justify-content: space-around;  
        height: 100px;
        align-items: center;
        .logo{
        img{
                width: 300px;
                height: 100px;
                border-radius: 50%;
        }
        }
        .navlinks{
            display: flex;
            justify-content: space-around;
            width: 50%;
            a{
                text-decoration: none;
                color: black;
                font-size: 20px;
                font-weight: bold;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                
            }
            #uni{
                background-color: black;
                color: white;
                padding: 8px;
                border-radius: 20px;
            }
            
        }
    }
    .section1{
        background-image: url("https://images.unsplash.com/photo-1760633549204-f652cef723af?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 80vh;
        width: 98%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        margin-left: 10px;
      h1{
        font-size: 40px;
        width: 70%;
        font-family:Arial, Helvetica, sans-serif;
        text-align: justify;
        margin-top: 17vh;
        margin-left: 20px;
        padding: 20px;
      }  
      a{
        margin-left: 50px;
        text-decoration: none;
        color: white;
        background-color: black;
        color: white;
        padding: 8px;
        border-radius: 20px;
        width: fit-content;
        font-size: 25px;
        margin-top: 30px;
        margin-bottom: 40px;
      }
    }

    .section2{
        display: flex;
        gap:15px;
        justify-content: space-around;
        .imgs{
            img{
                margin-left: 60px;
                border-radius: 20px;
            }
        }
        .text{
            h2{
                font-size: 28px;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
            p{
                font-size: 20px;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                text-align: justify;
                margin-right: 30px;
           }
           .table{
            width: 610px;
            padding: 20px;
            border-collapse: separate;
            border-spacing:40px 0px;
            .row{
                color: red;
                font-size: 30px;
            }
            .col{
                font-size: 28px;  
            }
           }
           a{
            text-decoration: none;
            font-size: 18px;
            color: black;
            padding: 10px;
           }
           #uni{
        text-decoration: none;
        color: white;
        background-color: black;
        color: white;
        padding: 8px;
        border-radius: 20px;
        width: fit-content;
        font-size: 18px;
           }
        }
    }

    .section3{
        display: flex;
        flex-direction: column;
        gap: 100px;
        justify-content: center;
        align-items: center;

        background-color: black;
        color: white;
        padding: 20px;
        .subsection1{
            display: flex;
            gap: 20px;
            height: 30vh;
            justify-content: space-around;
            align-items: center;
            h2{
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-size: 35px;
                margin-left: 40px;
                margin-right: 30px;
                padding: 20px;
            }
            p{
                font-size: 22px;
                margin-left: 60px;
                margin-right: 30px;
            }
            a{
                text-decoration: none;
                color: white;
                background-color: rgb(8, 8, 8);
                color: white;
                border: 1px solid white;
                padding: 8px;
                border-radius: 20px;
                width: fit-content;
            }
        }
        .cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 20px;
            margin-bottom: 50px;
            .card{
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 300px;
                background-color: white;
                color: black;
                padding: 20px;
                border-radius: 20px;
                img{
                    width: 100px;
                    height: 100px;
                    border-radius: 20px;
                }
                p{
                    font-size: 18px;
                    text-align: justify;
                }
        }
    }}

    .section4{
        display: flex;
        flex-direction: column;
        height: 60vh;
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 60px;
        gap: 20px;
        align-items: center;
        h1{
            font-size: 40px;
            font-family:Arial, Helvetica, sans-serif;
            text-align: center;
        }
        p{
            font-size: 22px;
            text-align: center;
            padding: 20px;
        }
        a{
            border: 1px solid black;
            text-align: center;
            text-decoration: none;
            color:white;
            background-color: black;
            padding: 8px;
            border-radius: 20px;
            width: fit-content;
            font-size: 22px;

        
            
        }
    }
}