*{
    margin: 0%;
    padding: 0%;
}

.container{
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
    height: 100px;
    align-items: center;
    background-color: rgb(13, 4, 4);
    .logo{
        font-size: 35px;
        color: white;
    }
    .elements{
        display: flex;
        list-style: none;
        gap: 30px;
        li{
            font-size: 20px;
            border: 1px solid black;
            background-color: black;
            color: white;
            padding: 5px 10px 5px 10px;
            border-radius: 5px;
        }
    }
    .btns{
        display: flex;
        gap: 20px;
        button{
            font-size: 18px;
            border: 1px solid black;
            background-color: rgb(255, 255, 255);
            padding: 5px 10px 5px 10px;
            border-radius: 5px;
        }
    }
}
.main{
    display: flex;
    height: 90vh;
    gap: 40px;
    align-items: center;
    justify-content: center;
    background-color: black;
    .text{
        display: flex;
        flex-direction: column;
        gap: 10px;;
        width: 40%;
        color: white;
        h3{
            font-size: 40px;
        }
        span{
            color: red;
        }
        h1{
            font-size: 60px;
        }
        h2{
            font-size: 30px;
        }
        p{
            font-size: 16px;
            text-align: justify;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        #logo{
            a{
                font-size: 30px;
                color: orange;
                padding: 10px;
            }
        }
    }
    .imag{
        img{
            width: 300px;
            height: 300px;
            border-radius: 50%;
        }
    }
}