*{
    margin: 0%;
    padding: 0%;
}

.container{
    background-color: rgb(189, 90, 3);
    height: 100vh;
    .icons{
        position: absolute;
        font-size: 50px;
        top: 60px;
        right: 110px;
        a{
            color: black;
            font-weight:bolder;
        }
    }
    .text{
        position: absolute;
        bottom: 20px;
        left: 40px;
        h1{
            font-size: 50px;
            color:black;
            font-weight: bolder;
        }
    }
    .container1{
        position: absolute;
        top: 150px;
        left: 320px;
        .text1{
            border: 1px solid black;
            width: 700px;
            height: 350px;
            background-color: black;
            p{
                font-size: 10px;
                color:white;
                font-weight: bolder;
            }
            #uni{
                position: absolute;
                bottom: 10px;
                left: 10px;
                text-decoration: none;
                color: white;
            }
        }
    }
    .container2{
        position: absolute;
        top: 220px;
        left: 400px;
        width: 700px;
        height: 350px;
        background-color:white;
        box-shadow: 10px 10px 100px black;
        #uni1{
            position: absolute;
            left: 20px;
           top:150px;
           width: 30%;
           font-size: 10px;
            text-align: justify;
        }
        #uni2{
            position: absolute;
            bottom: 20px;
            left: 20px;
            width: 30%;
            font-size: 10px;
            text-align: justify;
        }
        img{
            position: absolute;
            right: 210px;
            top: 40px;
            width: 30%;
            height: 260px;
        }
        .list{
            position: absolute;
            left: 560px;
            top: 75px;
            width: 30%;
            height: 260px;
            li{
                font-size: 10px;
                text-align: justify;
                padding: 4px;
                font-weight: bolder;
            }
        }
    }
    .container3{
        position: absolute;
        top: 30px;
        left: 90px;
        width: 620px;
        height: 335px;
        background-color:white;
        box-shadow: 10px 10px 100px black;
        .navbar{
            position: absolute;
            top: 20px;
            left: 20px;
            display: flex;
            gap: 180px;
            border-bottom: 1px solid black;
            border-top: 1px solid black;
            li{
                font-size: 10px;
                padding: 4px;
                font-weight: bolder;
                list-style: none;
            }
        }
        .imge{
            position: absolute;
            top: 20px;
            right: 30px;
            width: 40%;
            height: 290px;
                img{
                    width: 100%;
                    height: 100%;
                }
        }
        .h1{
            position: absolute;
            left: 50px;
            top: 130px;
            font-size: 22px;
            font-weight: bolder;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        .text3{
            display: flex;
            position: absolute;
            top: 230px;
            left: 20px;
            h2{
                font-size: 10px;
                font-weight: bolder;
            }
            p{
                font-size: 10px;
                width: 140px;
                padding: 4px;
            }
        }
        .p3{
            position: absolute;
            bottom: 10px;
            font-size: 12px;
            left: 40px;
        }

    }
}