*{
    margin:0%;
    padding: 0%;
}

.container{
    .section1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        position: relative;
        top: 100px;
        left: 100px;

        .img1{
            img{
            width: 250px;
            height: 150px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            }
            #uni1{
                position: absolute;
                top: 110px;
                color: white;
                font-size: 10px;
                left: 10px;
                font-weight: lighter;
            }
        }
        .subsection1{
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin: 0%;
            border: 1px solid black;
            width: 18%;
            border-radius: 10px;
            position: absolute;
            top: 145px;
            background-color: white;
            padding: 10px;
            h3{
                font-size: 12px
            }
            p{
                font-size: 10px;
            }
            .card1{
                img{
                    width: 220px;
                    border-radius: 10px;
                }
            }
            .location1{
                h2{
                    font-size: 12px;
                }
                a{
                    font-size: 10px;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
            .botton1{
                h2{
                    font-size: 12px;
                    text-transform: capitalize;
                    color: grey;
                }
                button{
                    background-color: rgb(185, 70, 251);
                    width: 220px;
                    padding: 6px;
                    border-radius: 10px;
                    color: white;
                    font-size: 16px;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    border-color:rgb(185, 70, 251) ;
                }
            }

        }
    }
    .section2{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        position: relative;
        left: 300px;
        bottom: 56px;

        .img1{
            img{
            width: 250px;
            height: 150px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            }
            #uni1{
                position: absolute;
                top: 110px;
                color: white;
                font-size: 10px;
                left: 10px;
                font-weight: lighter;
            }
        }
        .subsection1{
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin: 0%;
            border: 1px solid black;
            width: 18%;
            border-radius: 10px;
            position: absolute;
            top: 145px;
            background-color: white;
            padding: 10px;
            h3{
                font-size: 12px
            }
            p{
                font-size: 10px;
            }
            .card1{
                img{
                    width: 220px;
                    border-radius: 10px;
                }
            }
            .location1{
                h2{
                    font-size: 12px;
                }
                a{
                    font-size: 10px;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
            .botton1{
                h2{
                    font-size: 12px;
                    text-transform: capitalize;
                    color: grey;
                }
                button{
                    background-color: rgb(185, 70, 251);
                    width: 220px;
                    padding: 6px;
                    border-radius: 10px;
                    color: white;
                    font-size: 16px;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    border-color:rgb(185, 70, 251) ;
                }
            }

        }
    }
    .section3{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        position: relative;
        left:400px;
        bottom: 166px;

        .img1{
            img{
            width: 250px;
            height: 150px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            }
            #uni1{
                position: absolute;
                top: 110px;
                color: white;
                font-size: 10px;
                left: 10px;
                font-weight: lighter;
            }
        }
        .subsection1{
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin: 0%;
            border: 1px solid black;
            width: 18%;
            border-radius: 10px;
            position: absolute;
            top: 145px;
            background-color: white;
            padding: 10px;
            h3{
                font-size: 12px
            }
            p{
                font-size: 10px;
            }
            .card1{
                img{
                    width: 220px;
                    border-radius: 10px;
                }
            }
            .location1{
                h2{
                    font-size: 12px;
                }
                a{
                    font-size: 10px;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
            .botton1{
                h2{
                    font-size: 12px;
                    text-transform: capitalize;
                    color: grey;
                }
                button{
                    background-color: rgb(185, 70, 251);
                    width: 220px;
                    padding: 6px;
                    border-radius: 10px;
                    color: white;
                    font-size: 16px;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    border-color:rgb(185, 70, 251) ;
                }
            }

        }
    }
    .section4{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        position: relative;
        left: 200px;
        bottom: 165px;

        .img1{
            img{
            width: 250px;
            height: 150px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            }
            #uni1{
                position: absolute;
                top: 110px;
                color: white;
                font-size: 10px;
                left: 10px;
                font-weight: lighter;
            }
        }
        .subsection1{
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin: 0%;
            border: 1px solid black;
            width: 18%;
            border-radius: 10px;
            position: absolute;
            top: 145px;
            background-color: white;
            padding: 10px;
            h3{
                font-size: 12px
            }
            p{
                font-size: 10px;
            }
            .card1{
                img{
                    width: 220px;
                    border-radius: 10px;
                }
            }
            .location1{
                h2{
                    font-size: 12px;
                }
                a{
                    font-size: 10px;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
            .botton1{
                h2{
                    font-size: 12px;
                    text-transform: capitalize;
                    color: grey;
                }
                button{
                    background-color: rgb(185, 70, 251);
                    width: 220px;
                    padding: 6px;
                    border-radius: 10px;
                    color: white;
                    font-size: 16px;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    border-color:rgb(185, 70, 251) ;
                }
            }

        }
    }
    .section5{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        position: relative;
        right: 420px;
        bottom: 165px;

        .img1{
            img{
            width: 250px;
            height: 150px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            }
            #uni1{
                position: absolute;
                top: 110px;
                color: white;
                font-size: 10px;
                left: 10px;
                font-weight: lighter;
            }
        }
        .subsection1{
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin: 0%;
            border: 1px solid black;
            width: 18%;
            border-radius: 10px;
            position: absolute;
            top: 145px;
            background-color: white;
            padding: 10px;
            h3{
                font-size: 12px
            }
            p{
                font-size: 10px;
            }
            .card1{
                img{
                    width: 220px;
                    border-radius: 10px;
                }
            }
            .location1{
                h2{
                    font-size: 12px;
                }
                a{
                    font-size: 10px;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
            .botton1{
                h2{
                    font-size: 12px;
                    text-transform: capitalize;
                    color: grey;
                }
                button{
                    background-color: rgb(185, 70, 251);
                    width: 220px;
                    padding: 6px;
                    border-radius: 10px;
                    color: white;
                    font-size: 16px;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    border-color:rgb(185, 70, 251) ;
                }
            }

        }
    }
}