*{
    margin: 0%;
    padding: 0%
}

.container{
    .navbar{
        display: flex;
        height: 70px;
        background-color: yellow;
        align-items: center;
        justify-content: space-around;
        position: sticky;
        top: 0px;
        li{
            background-color: black;
            color: white;
            padding: 10px;
            border-radius: 10px;
            list-style: none;
            font-size: 20px
        }
    }
    .content{
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        P{
            text-align: justify
            ;
        }
    }
}
i{
    color: green;
    font-size: 70px;
    position: fixed;
    bottom: 10px;
    right: 10px

}