* {
    margin: 0%;
    padding: 0%;
}

.project {
    .navbar {
        font-size: 20px;
        text-decoration: none;
        border-bottom: 1px solid black;
        margin-top: 5px;
        margin-bottom: 5px;

        a {
            text-decoration: none;
            margin: 10px;
            color: black;
        }

        #home {
            margin-left: 485px;
        }

        #insta {
            margin-left: 300px;

        }
    }

    .title {
        margin-top: 20px;

        a {
            font-size: 60px;
            text-decoration: none;
            color: darkblue;

        }

        #brand {
            margin-left: 450px;
        }
    }

    .subnavbar {
        margin-right: 10px;
        font-size: 20px;
        text-decoration: none;
        margin-top: 20px;
        margin-bottom: 4px;
        border-bottom: 1px solid black;
        ;

        a {
            text-decoration: none;
            margin: 10px;
            color: grey;
        }

        #featured {
            margin-left: 400px;
        }
    }

    .container {
        display: flex;
        gap: 2px;

        .cards {
            width: 300px;
            margin: 1px;
            border: 1px solid rgb(230, 224, 224);
            padding: 5px;
            margin-bottom: 20px;
            margin-top: 40px;

            #card {
                width: 300px;
                margin-bottom: 10px;
            }

            h1 {
                font-size: 20px;
                text-align: center;
                margin-bottom: 5px;
            }

            p {
                text-align: justify;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                margin-bottom: 5px;
            }

            a {
                margin-top: 5px;
                color: red;
                text-decoration: none;
            }

            #date {
                border-top: 1px solid red;
                color: grey;
                text-align: center;
            }
        }
    }

    .footer {
        border-top: 1px solid black;
        background-color: rgb(84, 84, 229);

        .titlee {
            margin-top: 20px;

            a {
                font-size: 30px;
                text-decoration: none;
                color: rgb(1, 1, 18);

            }

            #brandd {
                margin-left: 540px;
            }
        }

        .logo {
            border-top: 1px solid black;
            margin-top: 20px;

            h1 {
                margin-left: 560px;
                margin-bottom: 10px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            a {
                text-decoration: none;
                margin: 10px;
                color: black;
                margin-bottom: 10px;
            }

            #insta {
                margin-left: 553px;
                margin-top: 10px;
            }
        }
    }

}